# MyCoin Project Production Requirements
Flask
requests
pycryptodome
gunicorn
# Flask के लिए आवश्यक निर्भरताएँ
MarkupSafe
itsdangerous
Werkzeug
click

# नोट: 'json' और 'uuid' को हटा दिया गया है क्योंकि वे Python के मानक पुस्तकालय का हिस्सा हैं।
